@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@600&display=swap');

body, main{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

header{
    width: 100%;
    height: 14vh;
    margin-block-end: 20px;
}

header nav{
    width: 100%;
    height: 14vh;
    background-color: darkred;
    display: flex;
    align-items: center;
}

header nav ol{
    width: 100%;
    height: 13vh;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://scontent.feoh6-1.fna.fbcdn.net/v/t1.6435-9/91692211_102766798049512_6741853981787553792_n.png?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=Iy_y2aSUCjcAX9VhiBV&_nc_ht=scontent.feoh6-1.fna&oh=cfff6ee176d48c7830845e9ebeb93df4&oe=60C95E93);
    background-size: 7%;
    background-position: 47%;
    background-repeat: no-repeat;
}

header nav ol li{
    font-family:'Baloo Tammudu 2', cursive;
    font-size: 2em;
    list-style: none;
    padding: 10px 100px;    
}

header nav ol li a{
    color: white;
    text-decoration: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
}
    
header nav ol li a:hover{
    color: black;
}

/*contenido*/

.container-banner{
    width: 100%;
    overflow-x: hidden;   
}

.row-banner {
    width: 400%;
    display: flex;
    flex-direction: row; 
    animation-name: market;
    animation-duration: 60s;
    animation-iteration-count:infinite;
    animation-timing-function: step-start;
}

@keyframes market{
0%, 11% {
   margin-left: 0%;
}
12%, 16% {

}
17%, 29% {
   margin-left: -100%;
}
30%, 34% {
    
}
35%, 47% {
    margin-left: -200%;
}   
48%, 52% {
    
}
53%, 65% {
    margin-left: -300%;
}
66%, 70% {
   
}
71%, 83% {
    margin-left: -400;
}
84%, 88% {
    
}
89%, 100% {
    margin-left: 0%;
}

}

.col-50 {
    width: 100%;
}

.col-50 img{
    width: 100%;
}

/*contenido 2*/

.container-2 {
    width: 100%;
}

.row-2 {
    width: 100%;
}

.row-2 h2{
    font-family:'Baloo Tammudu 2', cursive;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 8%;
    margin-block-end: 0%;
}


.slider {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    width: 400%;
    animation-name: cambio;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 90%;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* Nosotros */

.container {
    width: 100%;
    
}

.container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container .row .col-60 img {
    width: 100%;
    display: flex;
    border-radius: 5%;
    margin-left: 3%;
    animation: escalar 7s infinite alternate;
}

@keyframes escalar {
    to {
        transform: scale(0.9);
    }
    from {
        transform: scale(1);
    }
}

.container .row .col-40{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.container .row .col-40 h2{
    color: darkred;
    font-family:'Baloo Tammudu 2';
    font-size: 1.8rem;
    text-align: center;
}

.container .row .col-40 p{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-size: 1.5rem;
    text-align: justify;
    margin-right: 3%;
}

.container-1 {
    width: 100%;
    
}

.container-1 .row-1{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-1 .row-1 .col-60 img {
    width: 100%;
    display: flex;
    border-radius: 5%;
    margin-right: 3%;
    animation: escalar 7s infinite alternate;
}

@keyframes escalar {
    to {
        transform: scale(0.9);
    }
    from {
        transform: scale(1);
    }
}

.container-1 .row-1 .col-40{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.container-1 .row-1 .col-40 h2{
    color: darkred;
    font-family:'Baloo Tammudu 2';
    font-size: 1.8rem;
    text-align: center;
}

.container-1 .row-1 .col-40 p{
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 3%;  
}

/* Productos */

.container2-producto {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1240px;
}

.row2-producto {
    width: 100%;
}

.row2-producto .col-80 h2{
    color: white;
    font-size: 1.7rem;
    justify-content: center;
    text-align:center;
    font-family:'Baloo Tammudu 2';
}

.row2-producto .col-80 img{
    width: 300px;
    margin-bottom: 30px;
    padding: 3px;
    border-radius: 2%;
    object-fit: cover;
    filter: brightness(70%);
    animation: escalar 7s infinite alternate ;
}

.row2-producto .col-80 img:hover {
    filter: brightness(100%);
}

@keyframes escalar{
    to {
        transform: scale(0.9);
    }
    from {
        transform: scale(1);
    }
}



/* Pie de página */

footer{
    width: 100%;
    
}

footer .row{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

footer .row .col-25 {
    width: 100%;
    margin: 0 auto;
}

footer .row .col-25 img {
    width: 80%;
    height: 40vh;
    padding-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://scontent.feoh4-3.fna.fbcdn.net/v/t1.6435-9/91692211_102766798049512_6741853981787553792_n.png?_nc_cat=100&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=fEvRXdlVg4UAX97bdQT&_nc_ht=scontent.feoh4-3.fna&oh=31b5286fe8a02108645250946aa067be&oe=60D73653");
    background-size: 7%;
    background-position: 47%;
    background-repeat: no-repeat;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
}

footer .row .col-25 h2{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 0.9rem;
    margin-top: 0px;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    color: white;
}

footer .row .col-25 h3{
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1.3rem;
    margin-top: 0px;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: darkred;
}

footer .row .col-25 ol{
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

footer .row .col-25 ol li{
    list-style: none;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 1.4rem;
    padding: 2px 8px;
    padding-left: 40px;
    text-align: justify;
}

footer .row .col-25 ol li a {
    text-decoration: none;
    color: white;
}

footer .row .col-25 ol li:hover{
    background-color: darkred;
    cursor: pointer;
}

footer .row .col-25 iframe {
    width: 90%;
    height: 25vh;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}

